html {
    background: #222;
  }
  
  h1, p {
    border-radius: 1em;
    color: #fafafa;
    margin: 5% auto;
    max-width: 25em;
    padding: 2em;
    position: relative;
    width: 95%;
  }
  p {
    background: #222;
    content: attr(data-title);
    left: 50%;
    padding: 0 1em;
    position: absolute;
    text-transform: uppercase;
    top: -0.6em;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
p {
    border: 0.2em solid #37ddfd;
    -webkit-box-shadow: inset 0 0 0.4em #05d5fc, 0 0 0.4em #05d5fc;
            box-shadow: inset 0 0 0.4em #05d5fc, 0 0 0.4em #05d5fc;
  }
p {
    border-left: 0.2em solid #37ddfd;
    border-right: 0.2em solid #37ddfd;
    color: #9ceefe;
    text-shadow: 0 0 0.4em #05d5fc;
  }
p{
    color: #9ceefe;
  }

  h1, p, label{
    color: #ffffff;
  }